.navigation{
   background-color: #417690;
   font-size:smaller;
}
.navigation a,
.navigation p{
    color:wheat;
}

#main{
    width: 37%;
    margin-top: 10%;
    color: #417690;
    font-weight: bold;
    font-size: 14px;
}

#main h5{
    background-color: #79aec8;
    color: white;
    padding: 5px;
    font-size: large;
}

table tr{
    border-bottom: 1px solid #00000026;
}

#main a{
    color: #23688afa;
    font-weight: lighter;
}

.list-categories{
    
}