{% extends 'enterprise_temp/enterprise-base.html' %} 
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static 'css/enterprise_style.css' %}>
{% endblock head %}
    
{% block title %}
    Enterprise-HomePage
{% endblock title %}

{% block body %}



<section class="container-fluid ml-3">
    <div id="main">
        <table cellpadding="10px">
            <h5 class="pl-2 ">{{enterprise_name}}</h5>
                <tr>
                    <td style="width:100%"><a href="{% url 'enterprise_category'%}">Categories</a></td>
                    <td><a href="#">Add</a></td>
                    <td><a href="#">Update</a></td>
                    
                </tr>
                <tr>
                    <td style="width:100%"><a href="#">Products</a></td>
                    <td><a href="#">Add</a></td>
                    <td><a href="#">Update</a></td>
                </tr>
        </table>
    </div>
</section>




{% endblock body %}