{% extends 'enterprise_temp/enterprise-base.html' %} 
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'css/enterprise_style.css' %}>
{% endblock head %}
    
{% block title %} Categories {% endblock title %}

{% block body %}
    <section class="container">
        <div class="list-categories">
           <table cellpadding="7px">
                <tr><th>Categories</th></tr>
                {% for category in categories %}
                    <tr><td>
                      <a href="#"> {{category}}</a>
                    </td></tr>
                {% endfor %}
           </table>
        </div>
    </section>
{% endblock body %}