{% extends 'enterprise_temp/enterprise_base.html' %} 
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{%static 'js/search_list.js'%}"> </script>
{% endblock head %}
    
{% block title %} Prodcuts {% endblock title %}

{% block body %}
<body id="search-results">
    {% if messages %}
        <div>
            {% for message in messages %}
              <div class="alert alert-warning">
                 <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <section class="container-fluid mt-3">
        <div class="container page-header">
            <h6> Select Products to change </h6>
            <a href="{% url 'product_add' %}" class="add-btn">Add Product+</a>
        </div>    
        <div class="container ">
            <div class="search-bar">
                <form method="POST">
                    {% csrf_token %}
                    <i class="fas fa-search"></i>
                    <input type="text"  placeholder="Search.." name="search_text" id="search"> 
                </form>
            </div>
            <div class="list-products">   
                <form method="POST" name="actions" name="actions">
                    {% csrf_token %}
                    <table cellpadding="15px">
                    <tr><td>
                        <label for="action">Actions:</label>&nbsp
                        <select name="actions" id="action">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="Delete">Delete the selected...</option>
                        </select>&nbsp
                        <input type="submit" value="GO" name="submit_action">
                        </td></tr>
                            <tr>
                                <td>
                                    <h6> Name </h6>
                                </td>
                                <td>
                                    <h6> Categories </h6>
                                </td>
                            </tr>
                            {% if filtered_products %}
                                    {% for product in filtered_products %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="{{product.id}}" name="products">
                                            <a href="#"> {{product}}</a>
                                        </td>
                                        <td>
                                        {{product.product_categories}} 
                                        </td>
                                    </tr>
                                {% endfor %} 
                            {% else %} 
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="{{product.id}}" name="products">
                                            <a href="#"> {{product}}</a>
                                        </td>
                                        <td>
                                        {{product.product_categories}} 
                                        </td>
                                    </tr>
                                {% endfor %} 
                            {% endif %} 
                            <tr>
                                <th>
                                    <small>{{total_products}} Products </small>
                                </th>
                            </tr>
                    </table>
                </form>   
            </div>  
        </div>
       
    </section>
</body>
{% endblock body %}