{% extends 'user/user_base.html' %}
{% block title %}Products{% endblock title %}
{% load tagger %}


{% block body %}
<nav class="nav-page">
  <div class="search-bar">
    <form method="POST">
      {% csrf_token %}
      <div>
        <input type="search" name="search_product" placeholder=" &#xF002; Search Product" value="{{searched_product}}"
          style="font-family:Arial, FontAwesome">
      </div>
    </form>
    <div>
      <form method="POST">
        {% csrf_token %}
        <select name="filter_by" onchange="this.form.submit()" style="font-family:Arial, FontAwesome">
          <option value="featured" {% if filtered_product == 'featured' %}selected{% endif %}> &#xf0dc; featured</option>
          <option value="ascending" {% if filtered_product == 'ascending' %}selected{% endif %}> &#xf0dc; Low to High
            Price</option>
          <option value="descending" {% if filtered_product == 'descending' %}selected{% endif %}> &#xf0dc; High to Low
            Price</option>
        </select>
      </form>
    </div>
  </div>

</nav>



<section class="container">
  {% if messages %}
  <div>
    {% for message in messages %}
    <div class="alert alert-danger">
      <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="product-main container m-auto">
    {% for product in products %}
      <div class="product-card mb-3 ">
        <div>
          <a href="{% url 'product_detail' product|private:'_id' %}" ><img
              src="{{product.product_img.url}}" class="product-img" /></a>
        </div>
        <div>
          <h6 class="text-center mt-1">{{product.product_enterprsie}}'s</h6>
          <h5 class="text-center product-title">{{product.product_name}}</h5>
          <h5 class="text-center price">&#8377 {{product.Price}}</h5>
        </div>
        <a href="{% url 'add_to_cart' product|private:'_id' %}" class="text-center cart-btn "><i
          class="fas fa-shopping-cart fa-1x"></i> Add to cart </a>
      </div>
    {% endfor %}
  </div>
</section>

{% if products.has_other_pages %}
<ul class="paginations">
  {% if products.has_previous %}
  <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
  {% else %}
  <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in products.paginator.page_range %}
  {% if products.number == i %}
  <li class="active"><span>{{ i }} <span class=""></span></span></li>
  {% else %}
  <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if products.has_next %}
  <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
  {% else %}
  <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock body %}