{% extends 'user/user_base.html' %}
{% block title %}Home{% endblock title %}
{% load static %}
{% load tagger %}
{% block body %}

  <!--Body Content-->
  <div id="page-content">
   <!--Page Title-->
   <div class="page section-header text-center">
     <div class="page-title">
          <div class="wrapper"><h1 class="page-width">Your cart</h1></div>
        </div>
  </div>
    <!--End Page Title-->

    {% if messages %}
	<div>
		{% for message in messages %}
		<div class="alert {% if message.level == 25 %}alert-success {% else %}alert-danger {% endif %} m-2">
			<a class="close" href="#" data-dismiss="alert">×</a>
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% endif %}

    <div class="container">
       <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">

                  <table>
                        <thead class="cart__row cart__header">
                            <tr>
                                <th colspan="2" class="text-center">Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-right">Total</th>
                                <th class="action">&nbsp;</th>
                            </tr>
                        </thead>
                      <tbody>
                         {% for cart in cart_item %}
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                    <a href="{% url 'product_detail' cart.product_items|private:'_id' %}"><img class="cart__image" src="{{cart.product_items.product_img.url}}" ></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a>{{cart.product_items.product_name}}</a>
                                    </div>
                                </td>
                                <td class="cart__price-wrapper cart-flex-item">
                                    <span class="money">&#8377 {{cart.product_items.Price}}/~</span>
                                </td>
                                <td class="cart__update-wrapper cart-flex-item text-right">
                                    <div class="cart__qty text-center">
                                        <div class="qtyField">
                                          <form method = "POST" class="cart style2">
                                             {% csrf_token %}
                                          <input type="hidden" name="product_id" value="{{cart.product_items|private:'_id'}}">
                                           <select name="selected_qty" onchange="this.form.submit()" class="cart-item-select">
                                             <option {% if cart.qty == 1 %}selected{% endif %} value=1>Qty: 1</option>
                                             <option {% if cart.qty == 2 %}selected{% endif %} value=2>Qty: 2</option>
                                             <option {% if cart.qty == 3 %}selected{% endif %} value=3>Qty: 3</option>
                                             <option {% if cart.qty == 4 %}selected{% endif %} value=4>Qty: 4</option>
                                             <option {% if cart.qty == 5 %}selected{% endif %} value=5>Qty: 5</option>
                                             <option {% if cart.qty == 6 %}selected{% endif %} value=6>Qty: 6</option>
                                             <option {% if cart.qty == 7 %}selected{% endif %} value=7>Qty: 7</option>
                                          </select>
                                         
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right small--hide cart-price">
                                    <div><span class="money">&#8377  {% widthratio cart.qty 1 cart.product_items.Price %}/~</span></div>
                                </td>
                                <td class="text-center small--hide"><a href="{% url 'remove_from_cart' cart|private:'_id' %}" class="cart__remove"><h3 class="mt-2"><i class="icon icon anm anm-times-l"></i></h3></a></td>
                            </tr>
                           </form>  
                        {% endfor %}
                        </tbody>
                      <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><a href="{% url 'index' %}" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Continue shopping</a></td> 
                            </tr>
                        </tfoot>
                </table>
                 
              </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                <div class="solid-border">
                  <div class="row">
                     <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
                    <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">&#8377   {{sub_total}}/~</span></span>
                  </div>
                  <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                  <form method="GET" action="{% url 'place_order' slug='cart' %}">
                     {% csrf_token %}
                    <input type="submit" name="checkout_btn" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout">
                    <div class="paymnet-img"><img src="{% static 'assets/images/payment-img.jpg' %}" alt="Payment"></div>
                  </form> 
               </div>

            </div>
        </div>
    </div>

    <div class="pagination">
      {% if cart_item.has_other_pages %}
      <ul >
         {% if cart_item.has_previous %}
         <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
         {% else %}
         <li class="disabled"><span>&laquo;</span></li>
         {% endif %}
         {% for i in cart_item.paginator.page_range %}
         {% if cart_item.number == i %}
         <li class="active"><span>{{ i }} <span class=""></span></span></li>
         {% else %}
         <li><a href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
         {% endfor %}
         {% if cart_item.has_next %}
         <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
         {% else %}
         <li class="disabled"><span>&raquo;</span></li>
         {% endif %}
      </ul>
      {% endif %}
   </div>

</div>
<!--End Body Content-->


{% endblock body%}